*.pyc
__pycache__/
.pytest_cache/
.DS_Store
.attached_assets
.coverage
.env
.lock
.opencode
.mimocode
.tesla-tokens.json
.venv
.vue-keys.json
bin/
bugs
devices.json
pyvenv.cfg
solara.log
solara.log.*
tesla/
